/* https://www.radix-ui.com/themes/docs/overview/styling#tailwind-base-styles */
/* https://tailwindcss.com/docs/using-with-preprocessors */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import '@radix-ui/themes/styles.css';

@font-face {
  font-family: 'Geist Sans';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src:
    url('/fonts/Geist-Thin.woff2') format('woff2'),
    url('/fonts/Geist-Thin.woff') format('woff');
}

@font-face {
  font-family: 'Geist Sans';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src:
    url('/fonts/Geist-UltraLight.woff2') format('woff2'),
    url('/fonts/Geist-UltraLight.woff') format('woff');
}

@font-face {
  font-family: 'Geist Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src:
    url('/fonts/Geist-Light.woff2') format('woff2'),
    url('/fonts/Geist-Light.woff') format('woff');
}

@font-face {
  font-family: 'Geist Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url('/fonts/Geist-Regular.woff2') format('woff2'),
    url('/fonts/Geist-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Geist Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    url('/fonts/Geist-Medium.woff2') format('woff2'),
    url('/fonts/Geist-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Geist Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
    url('/fonts/Geist-SemiBold.woff2') format('woff2'),
    url('/fonts/Geist-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Geist Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    url('/fonts/Geist-Bold.woff2') format('woff2'),
    url('/fonts/Geist-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Geist Sans';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src:
    url('/fonts/Geist-Black.woff2') format('woff2'),
    url('/fonts/Geist-Black.woff') format('woff');
}

@font-face {
  font-family: 'Geist Sans';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src:
    url('/fonts/Geist-UltraBlack.woff2') format('woff2'),
    url('/fonts/Geist-UltraBlack.woff') format('woff');
}
